JARVIS Personal Voice Assistant v2.json
{
  "name": "JARVIS Personal Voice Assistant v2",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "allowedOrigins": "*",
          "responseMode": "responseNode"
        }
      },
      "id": "2cd665c5-868f-4933-935f-27cc93d3e53f",
      "name": "When voice/chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        192,
        -64
      ],
      "webhookId": "8ba08722-9b24-4978-a1f1-48b6c0e3591b"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=[Системная дата и время: {{$now.setZone('Europe/Saratov').setLocale('ru').toFormat('dd MMMM yyyy г., HH:mm, cccc')}}] Ты персональный голосовой ассистент. Фокус: цели, повседневные дела, планирование, напоминания и календарь. Действуй через подключенные инструменты. Всегда: 1) уточняй отсутствующие ключевые данные; 2) перед удалением/переносом важного — спрашивай подтверждение; 3) после действий давай краткий отчет. Обязательно поддерживай персонализацию: обновляй цели, привычки и журнал через Data Table tools (Ensure Goals/Habits/Journal/Reminder tables, Goals/Habits/Journal/Reminder State Read/Upsert). Для целей — предлагай декомпозицию на конкретные задачи в Google Tasks и time-block в Google Calendar.\nНикогда не удаляй записи из баз данных физически. Если пользователь просит удалить или отменить цель, привычку или напоминание, используй инструмент Upsert (например, Goals Upsert) и установи статус в 'deleted'. Выполненные задачи помечай статусом 'completed'",
          "maxIterations": 35
        }
      },
      "id": "813c090c-31b6-46e6-aa22-4c861724d368",
      "name": "Personal Voice Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        800,
        -96
      ]
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "id": "0e8fec7c-7d9e-4f99-ad68-704f2abebb03",
      "name": "Engram Memory",
      "type": "n8n-nodes-engram.engramMemory",
      "typeVersion": 1,
      "position": [
        592,
        1184
      ]
    },
    {
      "parameters": {},
      "id": "2e402682-aeb2-46fd-a776-2c26f9e69db1",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        768,
        1168
      ]
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "49ea686b351999f86fd166328cf1460b458c9d082ca730f3d6c5ad7441007487@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('availability_start', 'Начало интервала в ISO 8601') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('availability_end', 'Конец интервала в ISO 8601') }}",
        "options": {
          "outputFormat": "availability"
        }
      },
      "id": "52687eb3-2cda-44d3-8218-dfd6c04b8433",
      "name": "Calendar Availability",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1120,
        1120
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "7o4NLz2Owr18N0GQ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "49ea686b351999f86fd166328cf1460b458c9d082ca730f3d6c5ad7441007487@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Время начала СТРОГО в формате RFC 3339 (например: 2026-05-27T10:00:00.000Z)`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `Время конца СТРОГО в формате RFC 3339 (например: 2026-05-27T11:00:00.000Z)`, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Название мероприятия`, 'string') }}"
        }
      },
      "id": "c8264e54-4d1c-42ef-8e42-695d85ade336",
      "name": "Calendar Create Event",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1392,
        1136
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "7o4NLz2Owr18N0GQ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "49ea686b351999f86fd166328cf1460b458c9d082ca730f3d6c5ad7441007487@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('events_from', 'Период от в ISO 8601') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('events_to', 'Период до в ISO 8601') }}",
        "options": {
          "orderBy": "startTime"
        }
      },
      "id": "009f9a52-1125-4df1-806d-efaaefe15889",
      "name": "Calendar List Events",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1648,
        1104
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "7o4NLz2Owr18N0GQ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "49ea686b351999f86fd166328cf1460b458c9d082ca730f3d6c5ad7441007487@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('event_id', 'ID события для изменения') }}",
        "updateFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('new_event_description', 'Новое описание события') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('new_event_end', 'Новое время конца в ISO 8601') }}",
          "location": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('new_event_location', 'Новое место события') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('new_event_start', 'Новое время начала в ISO 8601') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('new_event_title', 'Новое название события') }}"
        }
      },
      "id": "41348eae-3e16-48c4-98e0-a04bb8f24a8d",
      "name": "Calendar Update Event",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1840,
        1088
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "7o4NLz2Owr18N0GQ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "49ea686b351999f86fd166328cf1460b458c9d082ca730f3d6c5ad7441007487@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('event_id', 'ID события для удаления') }}",
        "options": {}
      },
      "id": "aa771c58-fed8-4e2f-81fc-eb2342cb1b55",
      "name": "Calendar Delete Event",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2000,
        1088
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "7o4NLz2Owr18N0GQ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "task": "MTUwMzI1MDMyNDg0MDQ2NTEwOTU6MDow",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('task_title', 'Название задачи') }}",
        "additionalFields": {
          "dueDate": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Due_Date', `Дедлайн СТРОГО в формате RFC 3339 (пример: 2026-05-27T00:00:00.000Z). Пиши только так!`, 'string') }}",
          "notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', `Детали задачи`, 'string') }}"
        }
      },
      "id": "f36a564c-3895-445f-8a7a-60cea33280f9",
      "name": "Tasks Create",
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        1360,
        1328
      ],
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "YCiPxsUCbmrhKA5L",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "MTUwMzI1MDMyNDg0MDQ2NTEwOTU6MDow",
        "limit": 50,
        "additionalFields": {
          "showCompleted": true,
          "showDeleted": false,
          "showHidden": false
        }
      },
      "id": "6032fd7c-2e07-4d55-8e40-f4b9a443a294",
      "name": "Tasks List",
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        1600,
        1328
      ],
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "YCiPxsUCbmrhKA5L",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "task": "MTUwMzI1MDMyNDg0MDQ2NTEwOTU6MDow",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('task_id', 'ID задачи для изменения') }}",
        "updateFields": {
          "dueDate": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Due_Date', `Новый дедлайн СТРОГО в формате RFC 3339 (пример: 2026-05-27T00:00:00.000Z)`, 'string') }}",
          "notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('new_task_notes', 'Новые заметки задачи') }}",
          "status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('new_task_status', 'Статус задачи: needsAction или completed') }}",
          "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('new_task_title', 'Новое название задачи') }}"
        }
      },
      "id": "ca657f00-14d1-4afc-9c66-48b572f59823",
      "name": "Tasks Update",
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        1824,
        1328
      ],
      "notesInFlow": false,
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "YCiPxsUCbmrhKA5L",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "task": "MTUwMzI1MDMyNDg0MDQ2NTEwOTU6MDow",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('task_id', 'ID задачи для удаления') }}"
      },
      "id": "f7e16f48-3e09-4aea-92a7-70dcddc9113b",
      "name": "Tasks Delete",
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        1984,
        1328
      ],
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "YCiPxsUCbmrhKA5L",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "assistant_goals",
        "columns": {
          "column": [
            {
              "name": "goal_id"
            },
            {
              "name": "title"
            },
            {
              "name": "category"
            },
            {
              "name": "target_date",
              "type": "date"
            },
            {
              "name": "priority",
              "type": "number"
            },
            {
              "name": "status"
            },
            {
              "name": "progress",
              "type": "number"
            },
            {
              "name": "notes"
            },
            {
              "name": "updated_at",
              "type": "date"
            }
          ]
        },
        "options": {
          "createIfNotExists": true
        }
      },
      "id": "74bd3ce5-49b3-46ea-b89c-28587bd8baad",
      "name": "Ensure Goals Table",
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        1152,
        1568
      ]
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "assistant_habits",
        "columns": {
          "column": [
            {
              "name": "habit_id"
            },
            {
              "name": "name"
            },
            {
              "name": "date_key"
            },
            {
              "name": "status"
            },
            {
              "name": "streak",
              "type": "number"
            },
            {
              "name": "notes"
            },
            {
              "name": "updated_at",
              "type": "date"
            }
          ]
        },
        "options": {
          "createIfNotExists": true
        }
      },
      "id": "2eea60e4-79c8-4867-b236-ff81935fc4dc",
      "name": "Ensure Habits Table",
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        1376,
        1568
      ]
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "assistant_journal",
        "columns": {
          "column": [
            {
              "name": "entry_key"
            },
            {
              "name": "entry_type"
            },
            {
              "name": "summary"
            },
            {
              "name": "details"
            },
            {
              "name": "created_at",
              "type": "date"
            },
            {
              "name": "period_start",
              "type": "date"
            },
            {
              "name": "period_end",
              "type": "date"
            }
          ]
        },
        "options": {
          "createIfNotExists": true
        }
      },
      "id": "54e3b078-1d5f-4172-bdd3-1076132d5cc9",
      "name": "Ensure Journal Table",
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        1600,
        1568
      ]
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "assistant_reminder_state",
        "columns": {
          "column": [
            {
              "name": "reminder_key"
            },
            {
              "name": "entity_type"
            },
            {
              "name": "entity_id"
            },
            {
              "name": "escalation_level",
              "type": "number"
            },
            {
              "name": "next_ping_at",
              "type": "date"
            },
            {
              "name": "last_action"
            },
            {
              "name": "status"
            },
            {
              "name": "updated_at",
              "type": "date"
            }
          ]
        },
        "options": {
          "createIfNotExists": true
        }
      },
      "id": "c1da4cfb-c699-4776-b3f1-efeff479ea3d",
      "name": "Ensure Reminder State Table",
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        1824,
        1568
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "assistant_goals"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "deleted"
            }
          ]
        },
        "returnAll": true,
        "orderBy": true,
        "orderByColumn": "updatedAt"
      },
      "id": "eff4f532-c1b7-4f01-83c0-d6c11f23609f",
      "name": "Goals Read",
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        1152,
        1808
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "assistant_habits"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "deleted"
            }
          ]
        },
        "returnAll": true,
        "orderBy": true,
        "orderByColumn": "updatedAt"
      },
      "id": "e58dd70e-14a4-429f-bc37-895f2070f808",
      "name": "Habits Read",
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        1376,
        1808
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "assistant_journal"
        },
        "orderBy": true
      },
      "id": "74639e38-0fed-46bc-867e-d57d39768b96",
      "name": "Journal Read",
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        1600,
        1808
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "assistant_reminder_state"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "deleted"
            }
          ]
        },
        "returnAll": true,
        "orderBy": true,
        "orderByColumn": "updatedAt"
      },
      "id": "c98d361e-3751-4250-ab09-ce3d3a533aaa",
      "name": "Reminder State Read",
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        1824,
        1808
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "assistant_goals"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "goal_id",
              "keyValue": "={{ $fromAI('goal_id', 'Уникальный ID цели') }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "goal_id": "={{ $fromAI('goal_id', 'Уникальный ID цели') }}",
            "title": "={{ $fromAI('goal_title', 'Название цели') }}",
            "category": "={{ $fromAI('goal_category', 'Категория цели') }}",
            "target_date": "={{ $fromAI('goal_target_date', 'Срок достижения в ISO 8601 или YYYY-MM-DD') }}",
            "priority": "={{ $fromAI('goal_priority', 'Приоритет 1-5') }}",
            "status": "={{ $fromAI('goal_status', 'Статус цели') }}",
            "progress": "={{ $fromAI('goal_progress', 'Прогресс цели в процентах 0-100') }}",
            "notes": "={{ $fromAI('goal_notes', 'Краткие заметки по цели') }}",
            "updated_at": "={{ $fromAI('goal_updated_at', 'Дата обновления в ISO 8601') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "goal_id",
              "displayName": "goal_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "target_date",
              "displayName": "target_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "progress",
              "displayName": "progress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "09da729d-7e4c-452b-b775-09639d8f8226",
      "name": "Goals Upsert",
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        1152,
        2048
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "assistant_habits"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "habit_id",
              "keyValue": "={{ $fromAI('habit_id', 'Уникальный ID привычки') }}"
            },
            {
              "keyName": "date_key",
              "keyValue": "={{ $fromAI('habit_date_key', 'Дата привычки YYYY-MM-DD') }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "habit_id": "={{ $fromAI('habit_id', 'Уникальный ID привычки') }}",
            "name": "={{ $fromAI('habit_name', 'Название привычки') }}",
            "date_key": "={{ $fromAI('habit_date_key', 'Дата привычки YYYY-MM-DD') }}",
            "status": "={{ $fromAI('habit_status', 'Статус выполнения привычки') }}",
            "streak": "={{ $fromAI('habit_streak', 'Текущий стрик в днях') }}",
            "notes": "={{ $fromAI('habit_notes', 'Заметки по привычке') }}",
            "updated_at": "={{ $fromAI('habit_updated_at', 'Дата обновления в ISO 8601') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "habit_id",
              "displayName": "habit_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date_key",
              "displayName": "date_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "streak",
              "displayName": "streak",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0c22bb22-dbe9-4e97-8462-ceb07ff90d29",
      "name": "Habits Upsert",
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        1376,
        2048
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "assistant_journal"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "entry_key",
              "keyValue": "={{ $fromAI('entry_key', 'Уникальный ключ записи журнала') }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "entry_key": "={{ $fromAI('entry_key', 'Уникальный ключ записи журнала') }}",
            "entry_type": "={{ $fromAI('journal_entry_type', 'Тип записи журнала') }}",
            "summary": "={{ $fromAI('journal_summary', 'Краткое резюме записи') }}",
            "details": "={{ $fromAI('journal_details', 'Детали записи') }}",
            "created_at": "={{ $fromAI('journal_created_at', 'Дата создания в ISO 8601') }}",
            "period_start": "={{ $fromAI('journal_period_start', 'Начало периода в ISO 8601') }}",
            "period_end": "={{ $fromAI('journal_period_end', 'Конец периода в ISO 8601') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "entry_key",
              "displayName": "entry_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "entry_type",
              "displayName": "entry_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "details",
              "displayName": "details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "period_start",
              "displayName": "period_start",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "period_end",
              "displayName": "period_end",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0ee2c3b4-dc5c-4a6c-a18e-7120eb512ddc",
      "name": "Journal Upsert",
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        1600,
        2048
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "assistant_reminder_state"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "reminder_key",
              "keyValue": "={{ $fromAI('reminder_key', 'Уникальный ключ напоминания') }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "reminder_key": "={{ $fromAI('reminder_key', 'Уникальный ключ напоминания') }}",
            "entity_type": "={{ $fromAI('reminder_entity_type', 'Тип сущности') }}",
            "entity_id": "={{ $fromAI('reminder_entity_id', 'ID сущности') }}",
            "escalation_level": "={{ $fromAI('reminder_escalation_level', 'Уровень эскалации 0-3') }}",
            "next_ping_at": "={{ $fromAI('reminder_next_ping_at', 'Следующее напоминание в ISO 8601') }}",
            "last_action": "={{ $fromAI('reminder_last_action', 'Последнее действие по напоминанию') }}",
            "status": "={{ $fromAI('reminder_status', 'Статус напоминания') }}",
            "updated_at": "={{ $fromAI('reminder_updated_at', 'Дата обновления в ISO 8601') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "reminder_key",
              "displayName": "reminder_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "entity_type",
              "displayName": "entity_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "entity_id",
              "displayName": "entity_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "escalation_level",
              "displayName": "escalation_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "next_ping_at",
              "displayName": "next_ping_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_action",
              "displayName": "last_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "604f03ea-2b4d-46d5-b7a8-aa611e5936f8",
      "name": "Reminder State Upsert",
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        1808,
        2032
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "38fc2ebc-1b41-4fc1-8a9e-ae3858b5318a",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        -64
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "fd5a58b4-32a4-4562-a7d9-f5d369118b97",
      "name": "Morning Briefing Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        192,
        208
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Сформируй утренний брифинг: ключевые события на сегодня, 3 главных приоритета, просроченные/рисковые задачи, и короткий план дня. Сохрани результат в assistant_journal как запись morning_briefing. При необходимости создай 1-2 фокус-блока в календаре и задачи подготовки.",
        "options": {
          "systemMessage": "==[Системная дата и время: {{$now.setZone('Europe/Saratov').setLocale('ru').toFormat('dd MMMM yyyy г., HH:mm, cccc')}}] Ты модуль утреннего брифинга. Всегда сначала обеспечь наличие таблиц (Ensure ... Table tools), затем прочитай календарь/задачи/цели/привычки и сохрани итог в Journal Upsert. Если есть критичные дедлайны, увеличь эскалацию в Reminder State Upsert.",
          "maxIterations": 35
        }
      },
      "id": "cf9e0a92-a47d-466e-bef0-b116bda62436",
      "name": "Morning Briefing Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        784,
        256
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "67a33218-74b4-4f84-ae0b-db2b4a07f29d",
      "name": "Evening Planning Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        192,
        464
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Проведи вечернее планирование: подведи итоги дня, обнови прогресс целей и привычек, составь реалистичный план на завтра (до 5 приоритетов), создай недостающие задачи и календарные блоки. Сохрани результат в assistant_journal как evening_plan.",
        "options": {
          "systemMessage": "==[Системная дата и время: {{$now.setZone('Europe/Saratov').setLocale('ru').toFormat('dd MMMM yyyy г., HH:mm, cccc')}}] Ты модуль вечернего планирования. Обновляй цели и привычки через Goals/Habits Upsert, фиксируй отчет в Journal Upsert, декомпозируй большие цели в задачи Google Tasks с дедлайнами.",
          "maxIterations": 35
        }
      },
      "id": "25d4c613-d653-4517-9ab0-176cd734fef9",
      "name": "Evening Planning Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        800,
        464
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "4e8a3352-7d4b-4f01-b1f9-f5cfeb20ec5f",
      "name": "Hourly Reminder Escalation Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        192,
        720
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Проверь ближайшие события и задачи. Для просроченных или рисковых элементов обнови состояние эскалации напоминаний. Уровни: 1 мягкое напоминание, 2 повторное, 3 создать фокус-блок в календаре и пометить как срочно в заметках задачи. Сохрани изменения в assistant_reminder_state и журнал.",
        "options": {
          "systemMessage": "==[Системная дата и время: {{$now.setZone('Europe/Saratov').setLocale('ru').toFormat('dd MMMM yyyy г., HH:mm, cccc')}}] Ты модуль эскалации напоминаний. Используй Reminder State Read/Upsert как память эскалаций. Не спамь: увеличивай уровень только при сохранении риска. Фиксируй действия в Journal Upsert. ",
          "maxIterations": 35
        }
      },
      "id": "507fe05d-2764-4c3e-97c1-f57805748f5b",
      "name": "Reminder Escalation Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        800,
        720
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "818bc670-893a-4a41-9227-a6cd947c8785",
      "name": "Weekly Review Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        192,
        976
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Сделай weekly review: итоги недели, что выполнено/не выполнено, ключевые блокеры, прогресс по целям и привычкам, 3-5 фокусных направлений на следующую неделю. Сформируй план недели в задачах и календаре, сохрани ретроспективу и план в assistant_journal.",
        "options": {
          "systemMessage": "==[Системная дата и время: {{$now.setZone('Europe/Saratov').setLocale('ru').toFormat('dd MMMM yyyy г., HH:mm, cccc')}}] Ты модуль weekly review. Используй данные задач, календаря, целей и журнала. Обновляй цели при необходимости, создавай плановые задачи и time-block события следующей недели. ",
          "maxIterations": 35
        }
      },
      "id": "a6a4b11d-52c8-4076-bff2-c4b20fa0d5e8",
      "name": "Weekly Review Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        800,
        976
      ]
    },
    {
      "parameters": {
        "chatId": "=1000443108",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "e437cbc5-44e1-4ef5-aa67-3e9f2eb9230a",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1200,
        448
      ],
      "webhookId": "979a979e-51e8-430a-ae70-266003734e4f",
      "credentials": {
        "telegramApi": {
          "id": "SpLP8fSe5eoteINF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "dd468263-1bd3-446d-96f1-8d4ed7d0706a",
      "name": "Data Sync Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        192,
        48
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Синхронизируй данные: прочитай текущие события Google Calendar и задачи из Google Tasks, затем обнови таблицы assistant_goals, assistant_habits, assistant_journal и assistant_reminder_state при необходимости. Не пиши ничего в ответ, если нет критичных изменений.",
        "options": {
          "systemMessage": "==[Системная дата и время: {{$now.setZone('Europe/Saratov').setLocale('ru').toFormat('dd MMMM yyyy г., HH:mm, cccc')}}] Ты модуль фоновой синхронизации данных. Периодически обновляй внутренние таблицы n8n (Goals, Habits, Journal) на основе свежих данных из Google Calendar и Google Tasks.",
          "maxIterations": 35
        }
      },
      "id": "0ce9da4e-c77c-4a31-a1c0-f940c08c703d",
      "name": "Data Sync Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        800,
        64
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "accounts/fireworks/models/deepseek-v4-pro",
          "mode": "list",
          "cachedResultName": "accounts/fireworks/models/deepseek-v4-pro"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        400,
        1216
      ],
      "id": "cabb1fb0-8f2e-4fe7-b2d9-d6f849215856",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "0K8T2iSI66WvPals",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "numResults": 100,
          "language": "ru"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolSearXng",
      "typeVersion": 1,
      "position": [
        864,
        1312
      ],
      "id": "a9d0235f-0998-4ea9-a577-f9e33b2397e6",
      "name": "SearXNG",
      "credentials": {
        "searXngApi": {
          "id": "IDmOtKAs5BqYNNpl",
          "name": "SearXNG account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When voice/chat message received": {
      "main": [
        [
          {
            "node": "Personal Voice Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personal Voice Assistant": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Engram Memory": {
      "ai_memory": [
        [
          {
            "node": "Personal Voice Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Personal Voice Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Availability": {
      "ai_tool": [
        [
          {
            "node": "Personal Voice Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Create Event": {
      "ai_tool": [
        [
          {
            "node": "Personal Voice Assistant",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Evening Planning Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Reminder Escalation Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Weekly Review Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar List Events": {
      "ai_tool": [
        [
          {
            "node": "Personal Voice Assistant",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Morning Briefing Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Evening Planning Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Reminder Escalation Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Weekly Review Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Data Sync Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Update Event": {
      "ai_tool": [
        [
          {
            "node": "Personal Voice Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Delete Event": {
      "ai_tool": [
        [
          {
            "node": "Personal Voice Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tasks Create": {
      "ai_tool": [
        [
          {
            "node": "Personal Voice Assistant",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Morning Briefing Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Evening Planning Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Weekly Review Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tasks List": {
      "ai_tool": [
        [
          {
            "node": "Personal Voice Assistant",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Morning Briefing Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Evening Planning Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Reminder Escalation Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Weekly Review Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Data Sync Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tasks Update": {
      "ai_tool": [
        [
          {
            "node": "Personal Voice Assistant",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Evening Planning Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Reminder Escalation Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tasks Delete": {
      "ai_tool": [
        [
          {
            "node": "Personal Voice Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Goals Table": {
      "ai_tool": [
        [
          {
            "node": "Personal Voice Assistant",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Morning Briefing Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Evening Planning Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Weekly Review Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Data Sync Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Habits Table": {
      "ai_tool": [
        [
          {
            "node": "Personal Voice Assistant",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Morning Briefing Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Evening Planning Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Weekly Review Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Data Sync Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Journal Table": {
      "ai_tool": [
        [
          {
            "node": "Personal Voice Assistant",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Morning Briefing Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Evening Planning Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Reminder Escalation Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Weekly Review Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Data Sync Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Reminder State Table": {
      "ai_tool": [
        [
          {
            "node": "Personal Voice Assistant",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Morning Briefing Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Reminder Escalation Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Data Sync Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Goals Read": {
      "ai_tool": [
        [
          {
            "node": "Personal Voice Assistant",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Morning Briefing Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Evening Planning Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Weekly Review Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Habits Read": {
      "ai_tool": [
        [
          {
            "node": "Personal Voice Assistant",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Morning Briefing Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Evening Planning Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Weekly Review Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Journal Read": {
      "ai_tool": [
        [
          {
            "node": "Personal Voice Assistant",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Weekly Review Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reminder State Read": {
      "ai_tool": [
        [
          {
            "node": "Personal Voice Assistant",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Reminder Escalation Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Goals Upsert": {
      "ai_tool": [
        [
          {
            "node": "Personal Voice Assistant",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Evening Planning Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Weekly Review Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Data Sync Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Habits Upsert": {
      "ai_tool": [
        [
          {
            "node": "Personal Voice Assistant",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Evening Planning Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Data Sync Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Journal Upsert": {
      "ai_tool": [
        [
          {
            "node": "Personal Voice Assistant",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Morning Briefing Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Evening Planning Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Reminder Escalation Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Weekly Review Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Data Sync Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reminder State Upsert": {
      "ai_tool": [
        [
          {
            "node": "Personal Voice Assistant",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Morning Briefing Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Reminder Escalation Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Data Sync Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Morning Briefing Trigger": {
      "main": [
        [
          {
            "node": "Morning Briefing Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evening Planning Trigger": {
      "main": [
        [
          {
            "node": "Evening Planning Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hourly Reminder Escalation Trigger": {
      "main": [
        [
          {
            "node": "Reminder Escalation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Review Trigger": {
      "main": [
        [
          {
            "node": "Weekly Review Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Morning Briefing Agent": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evening Planning Agent": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reminder Escalation Agent": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Review Agent": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Sync Trigger": {
      "main": [
        [
          {
            "node": "Data Sync Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Weekly Review Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Reminder Escalation Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Evening Planning Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Morning Briefing Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Data Sync Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Personal Voice Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SearXNG": {
      "ai_tool": [
        [
          {
            "node": "Weekly Review Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Reminder Escalation Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Evening Planning Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Morning Briefing Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Data Sync Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Personal Voice Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Europe/Samara",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "8a853a48-a430-4151-8dc7-690bd951f5c0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd226dd46f97bcaa4b98e0b0c21f38ee6b8dc7fbe81e38fd89cb3e9b07971ac0"
  },
  "id": "aE8YTbk9dLzzJT10",
  "tags": []
}
