n8n_config.json
{
  "name": "JARVIS WITH PY",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "Ты помогающий ассистент, отвечай кратко и максимально ёмко"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        272,
        48
      ],
      "id": "7d5ae972-1db7-4008-85a2-84e381c82010",
      "name": "AI Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -64,
        560
      ],
      "id": "8a789bfb-e3f9-4cb1-bb41-2980cbd9c86f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -112,
        32
      ],
      "id": "19d340cd-93ed-4b23-ad02-2b9690e51115",
      "name": "When chat message received",
      "webhookId": "c660fa3d-f769-48b1-9009-2880629a633b"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        48
      ],
      "id": "4deb0960-7526-40f4-8853-79df8b4cac8d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "sonar-pro",
          "mode": "list",
          "cachedResultName": "sonar-pro"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        992,
        208
      ],
      "id": "27f03d26-c1e7-41d8-8e9f-23a2bc2eec39",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "jmImViSAkUESb2Qe",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -176,
        560
      ],
      "id": "df3df7d9-cf1d-472e-9a8f-2c788f93979b",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "IFyMsdEA5iLlPdMr",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        48,
        560
      ],
      "id": "faebbcea-816d-4a8b-87fe-450b110e46b7",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWolframAlpha",
      "typeVersion": 1,
      "position": [
        160,
        560
      ],
      "id": "c35d4c5c-073e-40f3-a9b9-5a9c14759343",
      "name": "Wolfram Alpha",
      "credentials": {
        "wolframAlphaApi": {
          "id": "RfZ6rhUEJ2rB38Wa",
          "name": "WolframAlphaApi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "s.solovov2008@gmail.com",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        416,
        560
      ],
      "id": "d5b868cf-794a-4698-92e9-e433d67b352b",
      "name": "Get availability in a calendar in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BreOVHmlRd7v8es7",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "s.solovov2008@gmail.com",
          "mode": "list",
          "cachedResultName": "s.solovov2008@gmail.com"
        },
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        672,
        560
      ],
      "id": "0131539c-e958-4611-96dd-9ce429572313",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BreOVHmlRd7v8es7",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "MTUwMzI1MDMyNDg0MDQ2NTEwOTU6MDow",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        800,
        560
      ],
      "id": "d9059660-76ee-4b68-bc3d-061f8ebc4dbe",
      "name": "Get many tasks in Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "m9gqbnCeLxbvkwnP",
          "name": "Google Tasks account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        1056,
        560
      ],
      "id": "1a756f01-4fe7-4aff-b809-b568a6b20fa7",
      "name": "Get many messages in Gmail",
      "webhookId": "0d73b035-407c-417b-9571-11d64e1080e8",
      "credentials": {
        "gmailOAuth2": {
          "id": "huOZxnkg2f1LZWQn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Используй этот узел для поиска свежей, актуальной информации в интернете с помощью Perplexity.",
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        1008,
        48
      ],
      "id": "14693b35-15a0-4fc9-8126-3eb3a80ae008",
      "name": "Search Tool"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "s.solovov2008@gmail.com",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        544,
        560
      ],
      "id": "ecc3a606-0f28-4191-92e5-74a51c9f6114",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BreOVHmlRd7v8es7",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "task": "MTUwMzI1MDMyNDg0MDQ2NTEwOTU6MDow",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        928,
        560
      ],
      "id": "05cb88ec-5e48-4b30-b7c4-9a58c86c8de4",
      "name": "Create a task in Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "m9gqbnCeLxbvkwnP",
          "name": "Google Tasks account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        1232,
        192
      ],
      "id": "c503f250-8bb6-4d00-a743-abb25a6c9c28",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "cityName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('City', ``, 'string') }}",
        "language": "ru"
      },
      "type": "n8n-nodes-base.openWeatherMapTool",
      "typeVersion": 1,
      "position": [
        272,
        560
      ],
      "id": "6ea6b17d-b887-4d4c-9530-515075870fc9",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "727YHIgsjZ2nzYRR",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.homeAssistantTool",
      "typeVersion": 1,
      "position": [
        1184,
        560
      ],
      "id": "2dcb281d-2361-4165-b4cd-389dc8fed996",
      "name": "Get the config in Home Assistant",
      "credentials": {
        "homeAssistantApi": {
          "id": "j1mcQPwKBLZ0Ck9S",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.homeAssistantTool",
      "typeVersion": 1,
      "position": [
        1296,
        560
      ],
      "id": "8ab70a37-43ff-499f-a810-1d43de5ea83d",
      "name": "Get the config in Home Assistant1",
      "credentials": {
        "homeAssistantApi": {
          "id": "j1mcQPwKBLZ0Ck9S",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "service",
        "operation": "call",
        "domain": "yandex_station",
        "service": "send_command"
      },
      "type": "n8n-nodes-base.homeAssistantTool",
      "typeVersion": 1,
      "position": [
        1392,
        560
      ],
      "id": "7ef6b473-e35a-4739-9cdc-eefd0e6dad8e",
      "name": "Call a service in Home Assistant",
      "credentials": {
        "homeAssistantApi": {
          "id": "j1mcQPwKBLZ0Ck9S",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "service"
      },
      "type": "n8n-nodes-base.homeAssistantTool",
      "typeVersion": 1,
      "position": [
        1504,
        560
      ],
      "id": "3e920523-59b9-4916-b18a-17d26bfa0e85",
      "name": "Get many services in Home Assistant",
      "credentials": {
        "homeAssistantApi": {
          "id": "j1mcQPwKBLZ0Ck9S",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "state",
        "operation": "getAll"
      },
      "type": "n8n-nodes-base.homeAssistantTool",
      "typeVersion": 1,
      "position": [
        1600,
        560
      ],
      "id": "2e818211-9b8f-4a43-a142-e616c3ed4722",
      "name": "Get many states in Home Assistant",
      "credentials": {
        "homeAssistantApi": {
          "id": "j1mcQPwKBLZ0Ck9S",
          "name": "Home Assistant account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Search Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wolfram Alpha": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many tasks in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a task in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Search Tool",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get the config in Home Assistant": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get the config in Home Assistant1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call a service in Home Assistant": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many services in Home Assistant": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many states in Home Assistant": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8403194e-d80f-4aea-b870-fc416fd8e31e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e73b0fc40c6327cd437b798f499bf0f05ab9c6d717adf3982732637f1a4dc685"
  },
  "id": "6UQKh2aZbvXB4wdVHNQjs",
  "tags": []
}